{% extends 'base.html' %}


{% block main %}
{% include 'blog/includes/post_modals.html' %}
<h1 class="text-center p-3 my-3">{% block title %}Edit "{{ post.title }}"{% endblock %}</h1>
<div class="container">
	<form method="post" class="form-update">
	{{ form.hidden_tag() }}
		{{ form.title.label(class="form-label") }}
		{{ form.title(class="form-control mb-3", id="title" )}}

		{{ form.body.label(class="form-label") }}
		{{ form.body(class="form-control mb-3", id="body" )}}


		<div class="d-grid my-5">
			{{ form.submit(class="btn btn-primary btn-lg btn-block") }}
		</div>
	</form>
	<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal-DeleteConfirm">Delete post</button>
</div>
{% endblock %}